<?xml version="1.0" encoding="UTF-8"?>
<beans>

<!--    <bean id="beanDao" class="ioc.dao.BeanDaoImpl">-->

<!--    </bean>-->

    <bean id="beanService" class="ioc.service.BeanServiceImpl">
        <property name="bean" ref="beanDao" />
    </bean>

    <bean id="beanDao" class="ioc.dao.BeanDaoImpl">

    </bean>

</beans>