<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- com.spring.demo.lookup.Test 的使用 bean -->

    <!-- <bean id="lookupTestPrototypeSub1" class="com.spring.demo.lookup.LookupTestPrototypeSub1" scope="prototype"/>-->
    <!-- <bean id="lookupTestPrototypeSub2" class="com.spring.demo.lookup.LookupTestPrototypeSub2" />-->

    <bean id="lookupTestAbstractSingleton" class="com.spring.demo.lookup.LookupTestAbstractSingleton" abstract="true">
        <!-- 等价于注解： @Lookup -->
        <!-- <lookup-method name="getLookupTestPrototype" bean="lookupTestPrototypeSub1" />-->
    </bean>

</beans>